*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    background: linear-gradient(205deg, #eed4d9, #c5e5fa) no-repeat fixed;
    align-items: center;
}

.noselect{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.hidden{
    display: none !important;
}


/* 主容器样式 */
.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#main-frame-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.main-box{
    width: 100%;
    height: 100%;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@font-face {
    font-family: 新黑体;
    src: url("../font/SLFont.ttf");
}

@media screen and (max-width: 600px){
    .only-large{
        display: none;
    }
}


/* 加载栏样式 */
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    z-index: 100;
}

@keyframes loading-animation {
    0%{
        transform: scale(0, 0) translateY(0);
    }
    10%{
        transform: scale(0.5, 0.5);
    }
    30%{
        transform: scale(1, 1) translateY(15px);
    }
    100%{
        transform: scale(1, 1);
    }
}

.loader span{
    font-size: 30px;
    transition: calc(var(--i)*0.1s) 0.3s;
    animation: loading-animation 1s infinite;
    animation-delay: calc(var(--i)*0.1s);
    animation-direction: alternate;
}

/* 导航栏样式 */
.navigation-bar{
    width: 60%;
    max-width: 800px;
    min-width: 500px;
    height: 60px;
    line-height: 60px;
    background-color: rgba(250, 250, 255, 0.9);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.navigation-bar nav{
    display: flex;
    position: relative;
}

.navigation-bar nav label{
    flex: 1;
    width: 100%;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.navigation-bar nav label a{
    position: relative;
    z-index: -1;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.navigation-bar nav label i{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 20px;
    position: relative;
    top: 5px;
    left: 5px;
}

@media screen and (max-width: 600px){
    .navigation-bar{
        min-width: 200px;
    }

    .navigation-bar nav label{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.navigation-bar nav input{
    display: none;
}

.navigation-bar nav .tab{
    position: absolute;
    height: 100%;
    width: 34%;
    left: 0;
    bottom: 0;
    background: linear-gradient(60deg, #ffb8d2, #b9e2ff);
    border-radius: 50px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* 侧边栏样式 */
.shell{
    width: 6%;
    min-width: 45px;
    max-width: 70px;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    overflow: hidden;
    z-index: 20;
}

.shell:hover{
    width: 20%;
    min-width: 200px;
    max-width: 250px;
}

.shell:hover span{
    opacity: 1;
}

.box{
    display: flex;
    height: 8%;
    max-height: 50px;
    width: 85%;
    margin: 9px;
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
    color: rgb(205, 205, 225);
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}

.shell:hover .box{
    flex-direction: unset;
}

.shell:hover .box span{
    transition: 0.3s ease-in;
}

.shell:hover .logo-box img{
    display: none;
}

.box img{
    width: 40px;
    height: 40px;
    transition: 0.3s ease-out;
}

.box:hover{
    background-color: rgb(46, 50, 58);
    color: #FFF;
    transition: 0.2s ease-in-out;
}

.box:hover img{
    margin-left: 10px;
}

.box:nth-child(1)::before,
.box:nth-child(5)::before{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(55, 65, 81);
    position: absolute;
    bottom: -10px;
}

.box span{
    position: relative;
    left: 20px;
    opacity: 0;
    font-size: 18px;
}

.logo-box{
    align-items: center;
    cursor: default;
    display: flex;
    justify-content: center;
}

.logo-box span{
    display: flex;
    position: relative;
    font-size: 24px;
    top: 0;
    left: 0;
    justify-content: center;
}

.logo-box img{
    position: relative;
    top: 30px
}

.logo-box:hover{
    background-color: rgba(0, 0, 0, 0);
}

#logout-btn:hover{
    background-color: #a91d1d;
}

/* 显示框样式 */
.display-frame{
    width: 90%;
    height: 70%;
    background-color: rgba(235, 235, 240, 0.8);
    border-radius: 30px;
    box-shadow: 6px 6px 8px #999, -6px -6px 8px #eee;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    font-family: 新黑体, serif;
    font-weight: lighter;
}

.display-frame p{
    font-size: 20px;
}

.about-box{
    width: 95%;
    height: 100%;
    display: flex;
}

/* 搜索栏样式 */
.search{
    position: relative;
    top: -20px;
    margin-bottom: 20px;
}

.search-input{
    color: #EAEEF0;
    padding: 10px;
    width: 50px;
    height: 50px;
    background: none;
    border: 4px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
    font: 400 26px "Comic Sans MS";
    outline: none;
    transition: 0.5s ease;
}

#checkbox{
    display: none;
}

[for=checkbox]{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    right: 0;
    margin: 5px 4px 5px 6px;
    transition: 0.4s ease;
    background-image: url("../img/svg/Search.svg");
    background-size:cover;
    background-repeat: no-repeat;
}

#checkbox:checked~label{
    border-radius: 10px;
    background-image: url("../img/svg/Close.svg");
    margin: 0 -5px;
    border: 4px solid #000;
}

#checkbox:checked~input{
    width: 400px;
    border-radius: 10px;
    margin-right: 60px;
    background-color: #272133;
    font: 400 16px "Comic Sans MS";
    color: #EAEEF0;
}

.fonts{
    position: absolute;
    top: -80px;
    left: 10px;
    color: #EAEEF0;
    letter-spacing: 5px;
    font: 400 26px "Comic Sans MS";
    display: flex;
}

.fonts span{
    color: #000;
    transition: 0.3s;
    opacity: 0;
}

#checkbox:checked ~.fonts span{
    transition: calc(var(--i)*0.1s) 0.3s;
    transform: translateY(40px);
    opacity: 1;
}

@media screen and (max-width: 600px){
    .search-input{
        width: 35px;
        height: 35px;
    }

    [for=checkbox]{
        width: 25px;
        height: 25px;
    }
    #checkbox:checked~input{
        width: 200px;
        margin-right: 40px;
    }

    .fonts{
        top: -40px;
        font: 400 18px "Comic Sans MS";
    }

    #checkbox:checked ~.fonts span{
        transform: translateY(15px);
    }

}

@media screen and (min-width: 1300px){
    #checkbox:checked~input{
        width: 1000px;
        margin-right: 60px;
    }
}

/* 服务器展示卡片 */
.server-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.server-container .card{
    position: relative;
    width: 200px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 30px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.server-container .card .card-content{
    padding: 20px;
    text-align: center;

}
.server-container .card .card-content .card-text{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.server-container .card:hover .card-content .card-text{
    transform: translateY(0);
    opacity: 1;
}

.server-container .card .card-content h3{
    transform: translateY(40px);
    font-size: 28px;
    color: #272133;
    transition: 0.5s;
}

.server-container .card:hover .card-content h3{
    transform: translateY(0);
}

.server-container .card .card-content p{
    font-size: 16px;
    color: #272133;
    font-weight: 300;
    margin: 10px 0 15px 0;
}

.server-container .card .card-content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background-color: #FFFFFF;
    color: #272133;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.server-container .card .card-content a:hover{
    box-shadow: 2px 2px 15px #272133;
}